.Grid {
}

.Grid-header {
  background-color: #7e838d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 3px solid #282c34;
}
